@font-face {
  font-family: "Summer";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/Summer%20Font%20Regular.woff);
}

@font-face {
  font-family: "Summer Bold";
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/Summer%20Font%20Bold.woff);
}
:root {
  /* define colours for elements */
  --bgbody: lightgray;
  --bghover: lightslategray;
  --outline: darkslategray;
  --warm: ivory;
  --pop: coral;
  --fade: gainsboro;
  --button: cadetblue;
  --bginput: white;
  --background: #222;
}
body {
  font: 32px/1.2 "Summer";
  margin: 5px;
  background-color: var(--background);
  color: white;
}
.logo {
    float: right;
    width: 150px;
    margin-right: 10px;
}
#decision-tree-wrapper {
  display: inline-block;
  min-width: 800px;
  max-width: 1200px;
  vertical-align: top;
  width: calc(100vw - 500px);
  position: relative;
  margin-right: -50vw;
  color: black;
}
#cards-wrapper {
  max-width: 468px;
  display: inline-block;
  z-index: 1000;
}
a {
  color: inherit;
}