card {
	width: 150px;
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid black;
	background-color: white;
	z-index: 1000;
	padding-top: 6px;
	padding-bottom: 6px;
}
card button {
	margin-top: 1em;
}
h1 {
	margin: 0px;
}
img {
	margin: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
    margin-bottom: 0px;
}
.target {
	float: left;
	display: inline-block;
	font-size: 0.35em;
	padding-top: 0;
	padding-bottom: 0;
}
.number {
	float: right;
	position: relative;
	font-size: 0.35em;
	padding-top: 0;
	padding-bottom: 0;
}
table {
	width: 100%;
	font-size: 0.3em;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
}
table.purple tr:nth-child(even) {background: #C9F6}
table.blue tr:nth-child(even) {background: #0bf6}
table.red tr:nth-child(even) {background: #c006}
td {
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
}
.attribute {
	text-align: left;
}
.value {
	font-weight: bold;
	text-align: right;
}