.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.cardbox {
  height: 300px;
  max-height: 300px;
  overflow-y: hidden;
  background-color: silver;
  width:100%;
  text-align: left;
  padding: 1%;
  padding-right: 20%;
  padding-left: 5%;
}
.cardbox card {
  position: relative;
}
.cardbox card:nth-child(2) {
  left: 160px;
  top: -217px;
}
.cardbox card:nth-child(3) {
  top: calc(calc(-217px * 2) + calc(25px * 1));
}
.cardbox card:nth-child(4) {
  left: 160px;
  top: calc(calc(-217px * 3) + calc(25px * 1));
}
.cardbox card:nth-child(5) {
  top: calc(calc(-217px * 4) + calc(25px * 2));
}
.cardbox card:nth-child(6) {
  left: 160px;
  top: calc(calc(-217px * 5) + calc(25px * 2));
}
.cardbox card:nth-child(7) {
  top: calc(calc(-217px * 6) + calc(25px * 3));
}
.cardbox card:nth-child(8) {
  left: 160px;
  top: calc(calc(-217px * 7) + calc(25px * 3));
}
.cardbox card:nth-child(9) {
  top: calc(calc(-217px * 8) + calc(25px * 4));
}
.cardbox card:nth-child(10) {
  left: 160px;
  top: calc(calc(-217px * 9) + calc(25px * 4));
}
.cardbox card:nth-child(11) {
  top: calc(calc(-217px * 10) + calc(25px * 5));
}
.cardbox card:nth-child(12) {
  left: 160px;
  top: calc(calc(-217px * 11) + calc(25px * 5));
}
.cardbox card:nth-child(13) {
  top: calc(calc(-217px * 12) + calc(25px * 6));
}
.cardbox card:nth-child(14) {
  left: 160px;
  top: calc(calc(-217px * 13) + calc(25px * 6));
}
.cardbox card:nth-child(15) {
  top: calc(calc(-217px * 14) + calc(25px * 7));
}
.cardbox card:nth-child(16) {
  left: 160px;
  top: calc(calc(-217px * 15) + calc(25px * 7));
}
.cardbox card:nth-child(17) {
  top: calc(calc(-217px * 16) + calc(25px * 8));
}
.cardbox card:nth-child(18) {
  left: 160px;
  top: calc(calc(-217px * 17) + calc(25px * 8));
}
.cardbox card:nth-child(19) {
  top: calc(calc(-217px * 18) + calc(25px * 9));
}
.cardbox card:nth-child(20) {
  left: 160px;
  top: calc(calc(-217px * 19) + calc(25px * 9));
}

.cardbox-thin {
  height: 300px;
  max-height: 300px;
  overflow-y: hidden;
  background-color: silver;
  width:100%;
  text-align: left;
  padding: 1%;
  padding-left: 3%;
  padding-top: 5%;
}

.cardbox-thin card {
  position: relative;
}
.cardbox-thin card:nth-child(2) {
  top: calc(calc(-217px * 1) + calc(25px * 1));
}
.cardbox-thin card:nth-child(3) {
  top: calc(calc(-217px * 2) + calc(25px * 2));
}
.cardbox-thin card:nth-child(4) {
  top: calc(calc(-217px * 3) + calc(25px * 3));
}
.cardbox-thin card:nth-child(5) {
  top: calc(calc(-217px * 4) + calc(25px * 4));
}
.cardbox-thin card:nth-child(6) {
  top: calc(calc(-217px * 5) + calc(25px * 5));
}
.cardbox-thin card:nth-child(7) {
  top: calc(calc(-217px * 6) + calc(25px * 6));
}
.cardbox-thin card:nth-child(8) {
  top: calc(calc(-217px * 7) + calc(25px * 7));
}
.cardbox-thin card:nth-child(9) {
  top: calc(calc(-217px * 8) + calc(25px * 8));
}
.cardbox-thin card:nth-child(10) {
  top: calc(calc(-217px * 9) + calc(25px * 9));
}
.cardbox-thin card:nth-child(11) {
  top: calc(calc(-217px * 10) + calc(25px * 10));
}
.cardbox-thin card:nth-child(12) {
  top: calc(calc(-217px * 11) + calc(25px * 11));
}
.cardbox-thin card:nth-child(13) {
  top: calc(calc(-217px * 12) + calc(25px * 12));
}
.cardbox-thin card:nth-child(14) {
  top: calc(calc(-217px * 13) + calc(25px * 13));
}
.cardbox-thin card:nth-child(15) {
  top: calc(calc(-217px * 14) + calc(25px * 14));
}
.cardbox-thin card:nth-child(16) {
  top: calc(calc(-217px * 15) + calc(25px * 15));
}
.cardbox-thin card:nth-child(17) {
  top: calc(calc(-217px * 16) + calc(25px * 16));
}
.cardbox-thin card:nth-child(18) {
  top: calc(calc(-217px * 17) + calc(25px * 17));
}
.cardbox-thin card:nth-child(19) {
  top: calc(calc(-217px * 18) + calc(25px * 18));
}
@media screen and (max-width: 1400px) {
  .cardbox {
    padding-left: 2%;
  }
  .cardbox-thin {
    padding-left: 0.5%;
    padding-top: 0.5%;
  }
}
@media screen and (max-width: 1300px) {
  .cardbox {
    padding-left: 0.5%;
  }
}
.decision_l {
  display: none;
}
.decision_r {
  display: none;
}
.decision_ll {
  display: none;
}
.decision_lr {
  display: none;
}
.decision_rl {
  display: none;
}
.decision_rr {
  display: none;
}
button {
  width: 6.2em;
  height: 3.6em;
  padding: 5px;
  border-radius: 0px;
  color: black;
  border: 1px solid black;
  margin-left: 3px;
  vertical-align: top;
  font-size: 15px;
}
#buttons {
  text-align: center;
}
#training-set button {
  background-color: #0bf6;
}
#test-set button {
  background-color: #C9F6;
}
#evaluation-set button {
  background-color: #c006;
}
tab {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  cursor: pointer;
}
#training-set {
  min-width: 468px;
  min-height: 1000px;
  border: 1px solid #0bf6;
}
#evaluation-set {
  min-width: 468px;
  min-height: 1000px;
  border: 1px solid #c006;
}
#test-set {
  min-width: 468px;
  min-height: 1000px;
  border: 1px solid #C9F6;
}
#training-tab.selected {
  background-color: #0bf6;
}
#test-tab.selected {
  background-color: #C9F6;
}
#evaluation-tab.selected {
  background-color: #c006;
}